version: "2"
services:
  nginx:
    build:
      context: nginx/
    ports:
      - "80:80"
    links:
      - fpm
      - db
      - redis
    volumes_from:
      - appdata
    env_file:
      - ./global.env
    environment:
      - VIRTUAL_HOST=magento2.docker

  apache:
    build:
      context: apache/
    ports:
      - "80:80"
    links:
      - fpm
      - db
      - redis
    volumes_from:
      - appdata
    env_file:
      - ./global.env
    environment:
      - VIRTUAL_HOST=magento2.docker

  fpm:
    build:
      context: 7.0-fpm/
    ports:
      - 9000
    links:
      - db
    volumes_from:
      - appdata
    env_file:
      - ./global.env

  db:
    image: mariadb:10
    ports:
      - 3306
    volumes_from:
      - dbdata
    environment:
      - MYSQL_ROOT_PASSWORD=magento2
      - MYSQL_DATABASE=magento2
      - MYSQL_USER=magento2
      - MYSQL_PASSWORD=magento2

  cli:
    build:
      context: 7.0-cli/
    links:
      - db
    volumes:
      - ~/.composer/cache:/root/.composer/cache
    volumes_from:
      - appdata
    env_file:
      - ./global.env

  redis:
    image: redis
    ports:
      - 6379

  appdata:
    image: tianon/true
    volumes:
      - ./magento:/var/www/magento

  dbdata:
    image: tianon/true
    volumes:
      - /var/lib/mysql
